{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.dateDebut) }}
        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateDebut) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.dateFin) }}
        {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateFin) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.commentaire) }}
        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.commentaire) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.compte) }}
        {{ form_widget(form.compte, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.compte) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.client) }}
        {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.client) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.chambre) }}
        {{ form_widget(form.chambre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.chambre) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
