<nav class="navbar navbar-expand-lg navbar-custom sticky-top">

    <div class="container">

        <a class="navbar-brand fw-bold" href="{{ path('app_home') }}">
            🏨 Hotel Booking
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        Accueil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_reservation_search') }}">
                        Réserver
                    </a>
                </li>

                {% if app.user %}

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_reservation_my_reservations') }}">
                            Mes réservations
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('app_client_profile') }}">
                            Mon profil
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}

                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('app_admin') }}">
                                Administration
                            </a>
                        </li>

                    {% endif %}

                {% endif %}

            </ul>

            <ul class="navbar-nav align-items-lg-center">

                {% if app.user %}

                    <li class="nav-item me-lg-3">

                        <span class="navbar-user">

                            {{ app.user.userIdentifier }}

                        </span>

                    </li>

                    <li class="nav-item">

                        <a
                            class="btn btn-outline-light btn-sm"
                            href="{{ path('app_logout') }}">

                            Déconnexion

                        </a>

                    </li>

                {% else %}

                    <li class="nav-item me-lg-2">

                        <a
                            class="btn btn-outline-light btn-sm"
                            href="{{ path('app_login') }}">

                            Connexion

                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="btn btn-primary btn-sm"
                            href="{{ path('app_register') }}">

                            Inscription

                        </a>

                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>