{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.etage) }}
        {{ form_widget(form.etage, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.etage) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.type) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.type) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.nombreLit) }}
        {{ form_widget(form.nombreLit, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nombreLit) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.hotel) }}
        {{ form_widget(form.hotel, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.hotel) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
