{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block body %}
    <h1>Modifier le commentaire</h1>

    <p>Réservation #{{ reservation.id }}</p>

    {{ form_start(form) }}
        <div class="form-group mb-3">
            {{ form_label(form.commentaire) }}
            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.commentaire) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_reservation_my_reservations') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
