{{ form_start(form) }}

<div class="reservation-card">

    <div class="row">

        <div class="col-md-6 mb-4">

            {{ form_label(form.email) }}

            {{ form_widget(form.email,{
                attr:{
                    class:'form-control',
                    placeholder:'Adresse email'
                }
            }) }}

            {{ form_errors(form.email) }}

        </div>

        <div class="col-md-6 mb-4">

            {{ form_label(form.role) }}

            {{ form_widget(form.role,{
                attr:{
                    class:'form-select'
                }
            }) }}

            {{ form_errors(form.role) }}

        </div>

    </div>

    <div class="mb-4">

        {{ form_label(form.plainPassword) }}

        {{ form_widget(form.plainPassword,{
            attr:{
                class:'form-control',
                placeholder:'Laisser vide pour conserver le mot de passe'
            }
        }) }}

        {{ form_errors(form.plainPassword) }}

    </div>

    <div class="form-check mb-4">

        {{ form_widget(form.isVerified,{
            attr:{
                class:'form-check-input'
            }
        }) }}

        {{ form_label(form.isVerified,null,{
            label_attr:{
                class:'form-check-label'
            }
        }) }}

        {{ form_errors(form.isVerified) }}

    </div>

    <div class="reservation-actions">

        <a
            href="{{ path('app_admin_compte_index') }}"
            class="btn btn-outline-secondary">

            <i class="bi bi-arrow-left me-2"></i>

            Retour

        </a>

        <button class="btn btn-success">

            <i class="bi bi-check-circle me-2"></i>

            {{ button_label|default('Enregistrer') }}

        </button>

    </div>

</div>

{{ form_end(form) }}